<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title><%= title %></title>
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../stylesheets/signin.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <form class="form-signin">
      <img class="mb-4" src="../images/tempicon.png" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">joshlol's primary image upload server</h1>
  <a href="<%= login_discord %>" class="btn btn-lg btn-primary btn-block" role="button">Login With Discord</a>
  <p class="mt-5 mb-3 text-muted">&copy; 2020-2020</p>
</form>
</body>
</html>
