<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title><%= url %></title>

    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="./stylesheets/signin.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <form class="form-signin">
      <img class="mb-4" src="../images/tempicon.png" alt="" width="72" height="72">
  <a href="<%= url %>" class="btn btn-lg btn-primary btn-block" role="button">Login With Discord</a>
  <p class="mt-5 mb-3 text-muted">&copy; 20202-2020</p>
</form>
</body>
</html>
