<!DOCTYPE html>
<html>
  <head>
    <title>userinfo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Your username is <%= name %></h1>
    <p>ID: <%= id %></p>
  </body>
</html>